# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so

# Virtual environment
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Environment variables
.env
.env.*

# VS Code
.vscode/*.log

# Outputs
results/

# Data you may not want tracked
data/raw/
data/processed/

# Excel temporary files
~$*.xls*